<!DOCTYPE html>
<html lang="es">
  <head>
        <!-- Google tag (gtag.js) -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M2KC3KKBV1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-M2KC3KKBV1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CV SEBASTIAN RAMIREZ</title>
    <meta property="og:title" content="Curriculum Sebastian Ramirez">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://proyectopro2.onrender.com">
    <meta property="og:image" content="https://https://proyectopro2.onrender.com/images/ogp.jpg">
    <meta property="og:description" content="Curriculum del estudiante Sebastian Ramirez">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- SECCION INICIO -->
    <section class="inicio" id="inicio">
      <div class="contenido-seccion">
          <div class="info">
              <h1>SEBASTIAN RAMIREZ</h1>
              <h2>ESTUDIANTE, EMPLEADO A TIEMPO PARCIAL, FUTURO PROGRAMADOR</h2>
              <div class="redes">
                  <a href="https://www.facebook.com/share/5ih1L5DaZMFqfcDz/?mibextid=qi2Omg" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                  <a href="https://www.instagram.com/sebastianramirezjg?igsh=MWNmeG4zcnljdGp2aA==" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                  <a href="https://www.sebasuni05@gmail.com" target="_BLANK"><i class="fa-brands fa-google fa-lg"></i></a>
                  <a href="https://github.com/Sebasramirez05?tab=repositories" target="_blank"><i class="fa-brands fa-github"></i></a>
              </div>
          </div>
          <div class="foto">
              <img src='/images/foto.png' alt="foto sebastian">
          </div>
      </div>
  </section>
  <!-- SECCION SOBRE MI -->
  <section class="sobremi" id="sobremi">
      <div class="contenido-seccion">
          <h2 class="titulo-seccion"></h2>
          <h3>Detalles personales</h3>
          <p class="especial">Soy una persona positiva, siempre dispuesto a dar el mejor trato posible</p>
          <p>Mi mayor fuerte es la atencion al publico, aunque ademas tambien tengo conocimiento basico en computacion y en la actualidad estoy estudiando diferentes diferentes lenguajes de programacion, en un futuro me gustaria ser programador</p>

          <div class="fila">
              <div class="col">
                  <i class="fa-solid fa-user"></i>
                  <span class="titulo-detalle">Perfil</span>
                  <p>Sexo: Masculino Edad:21 años</p>
              </div>
              <div class="col">
                  <i class="fa-solid fa-location-pin"></i>
                  <span class="titulo-detalle">Lugar de Residencia</span>
                  <p class="parrafito">San Juan de los Morros</p>
                  <p class="parrafito">Guarico</p>
                  <p class="parrafito">Venezuela</p>
              </div>
              <div class="col">
                  <i class="fa-solid fa-flag"></i>
                  <span class="titulo-detalle">Intereses</span>
                  <p class="parrafito">Soy gran fan de la tecnología y las ciencias, me gusta saber como funciona el mundo mas alla de lo que está simple vista.</p>
              </div>
          </div>
      </div>
  </section>
  <!-- SECCION HABILIDADES-->
  <section class="habilidades" id="habilidades">
        <div class="contenido-seccion">
            <h2 class="titulo-seccion">Habilidades</h2>
            <div class="container">
                <div class="textico">
                    <p>Ingles</p> <p>90%</p>
                </div>
                    <div class="progress">
                        <div class="progress-value90"></div>
                      </div>
                
            </div>
            <div class="container">
                
                <div class="textico">
                    <p>C++</p> <p>50%</p>
                </div>
                    <div class="progress">
                        <div class="progress-value50"></div>
                      </div>
               
            </div>
                <div class="container">
                    <div class="textico">
                        <p>Python</p> <p>40%</p>
                    </div>
                        <div class="progress">
                            <div class="progress-value40"></div>
                    
                </div>
            </div>
        </div>
  </section>
  <!-- SECCION RESUMEN -->
  <section class="resumen" id="resumen">
      <div class="contenido-seccion">
          <h2 class="titulo-seccion">Preparacion y Experiencia</h2>
          <div class="info">
              <div class="col">
                  <span class="titulo">Educación</span>
                  <table>
                      <tr>
                          <td class="datos">
                              <h3>2015 - 2020</h3>
                          </td>
                          <td rowspan="2" class="descripcion">
                              Graduado satisfactoriamente de bachiller con buen promedio.
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <h4>Bachiller</h4>
                              <p>U.E.C Leon Topel Wortman</p>
                              <span class="promedio">17.47 PG</span>
                          </td>
                      </tr>
                  </table>
                  <table>
                      <tr>
                          <td class="datos">
                              <h3>2022 - Actualidad</h3>
                          </td>
                          <td rowspan="2" class="descripcion">
                              Estudiando actualmente ingenieria en informatica con el objetivo de obtener mas conocimientos y tener una vida laboral plena.
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <h4>Estudiante Ingeniería Informática</h4>
                              <p>Universidad Nacional Experimental "Romulo Gallegos"</p>
                          </td>
                      </tr>
                  </table>
              </div>
              <div class="col">
                  <span class="titulo">Experiencia Laboral</span>
                  <table>
                      <tr>
                          <td class="datos">
                              <h3>3 Años</h3>
                          </td>
                          <td rowspan="2" class="descripcion">
                              He funcionado como cajero a tiempo parcial a la vez que tambien como reparador en los momentos que ha sido posible.
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <h4>Multicopias C.A.</h4>
                              <p>Cajero y reparador de computadoras</p>
                             
                          </td>
                      </tr>
                  </table>
              </div>
          </div>
      </div>
  </section>
  <!-- SECCION CONTACTO -->
  <section class="contacto" id="contacto">
      <div class="contenido-seccion">
        <h2 class="titulo-seccion">Ponte en contacto ahora mismo!</h2>
        <h3>Ingresa tus datos en los formularios inferiores</h3>
        <form action="/form-contacto" autocomplete="off" method="post" id="form">
            <section class="formulario">

                <div class="camp">
                    <label for="name" class="titulito">Ingrese el nombre completo</label>
                    <input type="text" name="name" placeholder="Ingresa tu nombre" class="campo" id="name" required/>
                </div>

                <div class="camp">
                    <label for="email" class="titulito">Ingrese su correo</label>
                    <input type="email" name="email" placeholder="Ingresa tu correo" class="campo" required/>
                </div>
                <div class="camp">
                    <label for="comen" class="titulito">Comentarios</label>
                <textarea name="mensaje" id="mensaje" placeholder="Ingresa algun comentario que tengas" class="campo" required></textarea>
                </div>
                <div class="camp">
                    <div class="g-recaptcha" data-sitekey="6Le3zugpAAAAAIo79WhdE_PRq4REJOTXhkLm5444"></div>
                </div>
                <input type="submit" name="enviar" value="Enviar Datos" class="btn-enviar">
            </section>
        </form>
        <a href="/contactos">Presione aqui contactos</a>
        <a href="/auth/login">Presione aquí para login</a>
        <a href="/auth/registro">Presione aquí para registro</a>
      </div>
  </section>
  <script src="/javascripts/captcha.js"></script>
  <script src="../app.js"></script>
  </body>
</html>