body{
    margin: 0;
    background-color: #202020;
    padding: 0;
    text-align: center;
    font-family: monserrat;
}

.login{
    margin: auto;
    margin-top: 12%;
    max-width: 500px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color: #000000;
    align-items: center;
    border-color: hsl(0, 97%, 29%) ;
    border-radius: 10px;
    
}

.login h1{
    text-align: center;
    padding: 0 0 20px 0;
    color: hsl(0, 97%, 29%);
    font-size: 2.5rem;
    border-bottom: 1px solid hsl(0, 97%, 29%);
}

.login form{
    padding: 0 40px;
    box-sizing:border-box;
}

form .usuario{
    position: relative;
    border-bottom: 2px solid hsl(0, 97%, 29%);
    margin: 20px 0;
}
.usuario input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.usuario label{
    position: absolute;
    top: 15%;
    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.usuario input:focus ~ label,
.usuario input:focus ~ label{
    top: -20px;
    color: hsl(0, 97%, 29%);
}

.google{
    text-align: left;
    display: flex;
    width: 100%;
    gap: 5px;
    flex-direction: column;
}

.btn-enviar{
    width: 100%;
    height: 40px;
    border: 1px solid hsl(0, 97%, 29%);
    background: #ffffff;
    border-radius: 25px;
    font-size: 16px ;
    cursor: pointer;
    transition: .8s;
}

.btn-enviar:hover{
    color: #ffffff;
    border: 1px #000000;
    background: hsl(0, 97%, 29%);
    transition: .8;
}