/* imporatamos las fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/*SECCION INICIO*/
.inicio{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("../images/Que-es-la-programacion-1143x660.webp");
    background-size: cover;
    background-position: center center;
    color: #fff
}
.inicio .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 20px 10px;
}
.inicio .contenido-seccion .info{
    padding-bottom: 130px;
}
.inicio .contenido-seccion .info h1{
    font-size: 3rem;
    letter-spacing: 5px;
}
.inicio .contenido-seccion .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}
.inicio .contenido-seccion .info .redes{
    margin: 20px 0;
}
.inicio .contenido-seccion .info .redes a{
    display: inline-block;
    text-decoration: none;
    background-color: #ffffff;
    color: hsl(0, 97%, 29%);
    border: 1px solid hsl(0, 97%, 29%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}
.inicio .contenido-seccion .info .redes a:hover{
    color: #fff;
    background-color: hsl(0, 97%, 29%);
    box-shadow: 0 0 20px #fff;
}
.inicio .contenido-seccion .foto{
    position: relative;
}
.inicio .contenido-seccion .foto img{
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid hsl(0, 97%, 29%);
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
}

.titulo-seccion{
    font-family: "Montserrat";
    font-size: 1.5rem;
}

/* SECCION SOBRE MI */
.sobremi{
    background-color: #fff;
    padding: 120px 0 45px 0;
    text-align: center;
}
.sobremi .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.sobremi .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.sobremi .contenido-seccion .especial{
    color: hsl(0, 97%, 29%);
    font-weight: bold;
    margin-top: 15px;
}
.sobremi .contenido-seccion p{
    font-size: 2rem;
    margin: auto;
    color: #666;
}
.sobremi .contenido-seccion .fila p{
    font-size: 150%;
    margin: auto;
    color: #666;
}
.sobremi .contenido-seccion .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.sobremi .contenido-seccion .fila .col{
    width: 30%;
    display:block;
}
.sobremi .contenido-seccion .fila .col i{
    color: hsl(0, 97%, 29%);
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid hsl(0, 97%, 29%);
    line-height: 40px;
    border-radius: 50%;
}
.sobremi .contenido-seccion .fila .col i:hover{
    color: white;
    background-color: hsl(0, 97%, 29%);
    transition: .5s ease-in-out;
}
.sobremi .contenido-seccion .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}
/* SECCION HABILIDADES */
.habilidades{
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../images/habilidades.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
}
.habilidades .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.habilidades .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.container{
    position: relative;
    width: 325px;
    padding: 0 20px;
    margin:auto
}
.container .skill {
    margin: 20px 0;
}
.container .skill p{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container .skill .progress {
    position: relative;
    width: 100%;
    height: 1px;
    background: #999;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0;
}
.container .skill .progress {
    content: '';
    position: absolute;
    width: var(--wth);
    height: 65%;
    background: #a10505 ;
}

/* SECCION RESUMEN */
.resumen{
    background-color: #ffffff;
    padding: 50px 0 100px 0;
    text-align: center;
    color:#000000
}
.resumen .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.resumen .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.resumen .contenido-seccion .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.resumen .contenido-seccion .info .col{
    width: 45%;
}
.resumen .contenido-seccion .info .col .titulo{
    display: inline-block;
    color: hsl(0, 97%, 29%);
    font-weight: bold;
    border: 2px solid hsl(0, 97%, 29%);
    padding: 10px;
    transition: .5s ease-in-out;
}
.resumen .contenido-seccion .info .col .titulo:hover{
    color: white;
    background-color: hsl(0, 97%, 29%);
    transition: .5s ease-in-out;
}
.resumen .contenido-seccion .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}
.resumen .contenido-seccion .info .col table .datos{
    width: 40%;
    border-bottom: 1px solid #000000;
}
.resumen .contenido-seccion .info .col table h4{
    margin-top: 10px;
}
.resumen .contenido-seccion .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.resumen .contenido-seccion .info .col table p{
    font-size: 20px;
}
.resumen .contenido-seccion .info .col table .promedio{
    display: block;
    color: hsl(0, 97%, 29%);
    margin-top: 10px;
    font-weight: bold;
}
.resumen .contenido-seccion .info .col table .descripcion{
    border-left: 1px solid #ffffff;
    padding-left: 20px;
}
/* SECCION CONTACTO */
.contacto{
    background-color: #202020;
    padding: 10px 0 50px 0;
    color: #fff;
    text-align: center;
}
.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.contacto .contenido-seccion h2{
    text-transform: uppercase;
    font-size: 35px;
}
.contacto .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 15px;
}
.contacto .contenido-seccion .fila{
    display: flex;
    justify-content: space-around;
}
.contacto .contenido-seccion .fila .col{
    margin-top: 50px;
    margin-bottom: 40px;
}
.contacto .contenido-seccion .fila .col h2{
    color: hsl(0, 97%, 29%);
}
.contacto .contenido-seccion .formulario{
    display:flex ;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    background: #202020;
    margin: auto;
    margin-top: 10px;
}
.campo{
    width: 100%;
    text-align: center;
    background: #ffffff;
    height: 70px;
    border-radius: 4%;
    font-size: 20px;
    transition: .3s ease-in-out;
}
.campo:focus{
    transition: .3s ease-in-out;
    box-shadow: 0px 0px 7px 5px hsl(0, 66%, 30%);
-webkit-box-shadow: 0px 0px 7px 5px hsl(0, 66%, 30%);
-moz-box-shadow: 0px 0px 7px 5px hsl(0, 66%, 30%);

}
.btn-enviar{
    width: 40%;
    background: #ffffff;
    padding: 3%;
    border:#000000;
    height: 80px;
    font-size: 16px;
    align-items: center;
}
.btn-enviar:hover{
    color: white;
    background-color: hsl(0, 97%, 29%);
    transition: .5s ease-in-out;
}

/* SECCION RESPONSIVE */
@media (max-width:480px){
    .sobremi .contenido-seccion .fila{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        justify-content: space-between;
    }
    .habilidades .contenido-seccion .fila{
        display: block;
    }
    .habilidades .contenido-seccion .fila .col{
        width: 100%;
        text-align: center;
    }
    .habilidades .contenido-seccion .fila .col .cont-barra{
        justify-content: center;
    }
    .sobremi .contenido-seccion .fila{
        display: block;
        margin: 3%;
    }
    .sobremi .contenido-seccion .fila .col{
        display: block;
        width: 80%;
        margin: auto;
        margin-top: 20px;
        justify-content: center;
    }
    .resumen .contenido-seccion .info{
        display: block;
    }
    .resumen .contenido-seccion .info .col{
        width: 90%;
        margin: auto;
    }
    .resumen .contenido-seccion .info .col .titulo{
        display: block;
        text-align: center;
    }
    .resumen .contenido-seccion .info .col table{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .contacto .contenido-seccion .fila{
        display: block;
    }
}
.camp{
    text-align: left;
    display: flex;
    width: 50%;
    gap: 5px;
    flex-direction: column;
}
.titulito{
    font-weight: 900;
    font-size: 20px;
}
.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 18px;
    width: 300px;
    margin-bottom: 10px;
  }
  
  .progress-value90 {
    animation: load90 3s normal forwards;
    box-shadow: 0 10px 40px -10px hsl(0, 97%, 29%);
    border-radius: 100px;
    background: hsl(0, 97%, 29%);
    height: 18px;
    width: 0;
  }


  .progress-value50 {
    animation: load50 3s normal forwards;
    box-shadow: 0 10px 40px -10px hsl(0, 97%, 29%);
    border-radius: 100px;
    background: hsl(0, 97%, 29%);
    height: 18px;
    width: 0;
  }
  .progress-value40 {
    animation: load40 3s normal forwards;
    box-shadow: 0 10px 40px -10px hsl(0, 97%, 29%);
    border-radius: 100px;
    background: hsl(0, 97%, 29%);
    height: 18px;
    width: 0;
  }
  
  @keyframes load90 {
    0% { width: 0; }
    100% { width: 90%; }
  }
  @keyframes load50 {
    0% { width: 0; }
    100% { width: 50%; }
  }
  @keyframes load40 {
    0% { width: 0; }
    100% { width: 40%; }
  }
  .textico{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .parrafito{
    font-size: 100px;
  }