@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #000000;
    color: white; 
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    border-color: hsl(0, 97%, 29%);
    text-align: center;
    text-shadow: 
    -1px -1px 0 hsl(0, 97%, 29%),  
    1px -1px 0 hsl(0, 97%, 29%),
    -1px 1px 0 hsl(0, 97%, 29%),
    1px 1px 0 hsl(0, 97%, 29%); 
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
    text-align: left;
    background-color: white; 
    color: black; 
}

table thead tr {
    background-color: hsl(0, 97%, 29%);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid hsl(0, 97%, 29%);
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border: 2px solid hsl(0, 97%, 29%);
}

table tbody tr:hover {
    background-color: hsl(0, 97%, 29%);
    color: #dddddd;
}
